body {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(228, 70, 2, 0.63)
    0.1%, rgba(221, 93, 14, 0.63) 90.1%);
}

.img-fluid {
    width: 8%;
    height: auto;
}

#homeHeader {
    background: #fccb90;
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    border-radius: 5px;
    color: rgb(252, 173, 3);
    font-family: Brush Script MT, Brush Script Std, cursive;
}

[class*="col"] {
    padding: 1rem;
    text-align: center;
}

.card-text {
    columns: #000;
}

.card-title {
    color: rgb(252, 173, 3);
}

.card {
    padding: 0.6rem 1.8rem;
    width:25vw;
}


@media (min-width: 230px) and (max-width: 1250px) { 
  .card {
    width: 300px;
  }
}

#bg-footer {
     background: #fccb90;
     background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
     background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.a-text {
    color: black;
}
